# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
UnitAuto-Java-Demo/.idea
.classpath
.project
UnitAuto-Java-Demo/.settings
*.iml

.gradle
.idea

UnitAuto-SpringBoot-SDK/bin
UnitAuto-Android/gradlew.bat
UnitAuto-Android/gradlew
UnitAuto-Android/gradle/wrapper/gradle-wrapper.properties
UnitAuto-Android/gradle/wrapper/gradle-wrapper.jar
/UnitAuto-Rust/target
UnitAuto-Rust/Cargo.lock
